$font-title: Montserrat;
$font-side: 'Roboto Slab';
$font-header: 'Roboto Slab';
$blue: #386CA7;
$black: #2C2C2C;
$mainColor: #F5A623;

* {
  color: $black;
  font-family: $font-title;
}

#border {
  background-color: $mainColor;
  height: 10px;
}

#header {
  font-family: $font-header;
  font-weight: 700;
  font-size: 5rem;
  color: $black;
}

#header > .point {
  color: $mainColor;
  font-weight: 600;
}

#header > .extension {
  color: $black;
  font-weight: 300;
  font-family: $font-side;
}

#header-sub {
  font-family: $font-title;
  font-weight: 400;
  font-size: 1.3rem;
  color: $black;
}

#side-title {
  color: $mainColor;
  font-family: $font-title;
  font-size: 3rem;
}

.para-title {
  font-family: $font-side;
  font-size: 3rem;
  font-weight: 400;
}

.para-quote {
  font-family: $font-side;
  font-size: 3rem;
  font-weight: 400;
  text-align: left;
}

.para-quote > span {
  text-align: right;
  font-size: 2rem;
  font-weight: 400;
}

.para-quote:hover {
  color: $mainColor;
}

.para {
  font-family: $font-title;
  font-size: 1.5rem;
}

.para > a {
  text-decoration: none;
  color: $black;
  font-weight: 600;
}

.para > a:hover {
  text-decoration: none;
  color: $mainColor;
}

#mid {
  background-color: $mainColor;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#mi-title {
  color: white;
  font-family: $font-title;
  font-size: 4rem;
  font-weight: 600;
  text-align: left;
}

#mid-title {
  color: $black;
  font-family: $font-title;
  font-size: 3rem;
  font-weight: 600;
}

#mid-title > span {
  color: $mainColor;
}

.align-center {
  text-align: center;
}

.spacet {
  margin-top: 4rem;
}

.spaceb {
  margin-bottom: 4rem;
}

.spaceT {
  margin-top: 12rem;
}

.spaceB {
  margin-bottom: 12rem;
}

.spaceTT {
  margin-top: 16rem;
}

.spaceBB {
  margin-bottom: 16rem;
}

#domains > a {
  color: $black;
  text-decoration: none;
  font-size: 2rem;

}

#domains > a:hover {
  color: $mainColor;
  text-decoration: none;
}

#domains > a >span {
  color: $mainColor;
  text-decoration: none;
  font-weight: 600;
}

#social > a > span > img {
  width: 30px;
}

#social > a {
  text-decoration: none;
  color: $black;
}

#social > a:hover {
  color: $mainColor;
}
