<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Roboto+Slab:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="container-fluid" id="border"></div>
    {{ content }}

    <div class="container-fluid" id="border"></div>
  </body>
</html>
